.container_button_management{
    margin-left: 10%;
    .btn_edit{
        color: green;
        margin-right: 10px ;
        cursor: pointer;
    }

    .btn_delete{
        color: red;
        cursor: pointer;
    }
}