.btn_log{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    background-color: $general;
    margin: 5% 25%;
    cursor: pointer;
}

.hover_icon:hover{
    cursor: pointer;
}