.container_navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .navigation_left{
        display: flex;
        gap: 1rem;
    }

    .navigation-right{

    }

}