.container_formManager{
    display: flex;
    margin: 2rem 0;
    border: 1px solid black;
    width: 30%;
    border-radius: 1em;
    justify-content: space-between;

    .formManager{
        gap: 2rem;
        padding: 0.2rem 1.5rem;
        justify-content: center;

        .formManager_element{
            display: flex;
            align-items: center;
            margin: 1rem 0;
            gap: 8px;

            input,select{
                height: 20px;
                border: 1px solid $light_grey;
                padding-left: 15px;
            }
        }
    }

    .icon_close{
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
    }
}

